{
    "parser": "@typescript-eslint/parser",
    "plugins":[
        "@typescipt-eslint",
        "@typescipt-eslint/eslint-plugin"
    ],
    "extends": [
        "plugin:playwright/playwright-test",
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ]
}